body,
html {
    height: 100%;
}

.bg-image {
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-size: 100%;
    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#container {
    position: absolute;
    width: 90%;
    height: 80%;
    max-height: 90%;
    bottom: 10%;
    left: 5%;
    background-color: white;
    z-index: 2;
    background: #0c483f;
    color: wheat;
    font-size: large;
    border-radius: 25px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#container::-webkit-scrollbar {
    display: none;
}

.container-1 {
    display: flex;
}

.container-1 div,
.container-2 div {
    padding: 10px;
}

.container-1-box {
    margin-top: 50px;
    height: 80%;
    text-align: center;
}

.box-1 {
    order: 1;
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.box-3 {
    flex: 1;
    order: 3;
    text-align: center;
    margin-top: 20px;
}

.startButton {
    top: 50%;
    position: relative;
    text-align: center;
    height: 10%;
    width: 20%;
    border-radius: 15px;
    background-color: wheat;
}

.createButton {
    height: 50px;
    width: 120px;
    top: 10px;
    // position: fixed;
    border-radius: 5px;
    background-color: wheat;
    color: #0c483f;
}

.AddButton {
    // position: fixed;
    border-radius: 5px;
    background-color: wheat;
    color: #0c483f;
    margin-left: 10px;
    display: inline-block;
}

// Les boutons ne répondent pas, aucun idée pourquoi

.game .button-players {
    //background-color: #0c483f;
    position: absolute;
    left: 80%;
    top: 15%;
    display: inline;
    height: 75%;
}

.gamesgrid {
    top: 100px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 1rem;
}

.game {
    position: relative;
    background-color: wheat;
    color: black;
    border: solid 1px red;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    height: 5px;
}

#roomList {
    border: solid 3px;
    color: wheat;
    height: 40%;
    width: 50%;
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
}

//center the roomListTitle
#roomListTitle {
    text-align: center;
    margin-top: 4%;
    left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #0c483f;
}
::-webkit-scrollbar-thumb {
    background: wheat;
    border-radius: 8px;
}

.MPButton {
    cursor: pointer;
    top: 10px;
    left: 10px;
    position: absolute;
    transform: scale(1.5);
    margin-top: 2%;
    margin-left: 2%;
    color: wheat;
}

#tableRoom {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    // max-width: 160%;
    width: 20cm;
    border: 2px wheat solid;
}

#tableRoom td,
#tableRoom th {
    padding: 6px;
}

#tableRoom tr:hover {
    background-color: wheat;
    color: #0c483f;
}

#tableRoom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: wheat;
    color: #0c483f;
}

#tableRoom td {
    border-bottom: 2px solid wheat;
}

#nameTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    // max-width: 160%;
    width: 100%;
    border: 2px wheat solid;
}

#nameTable td,
#nameTable th {
    padding: 6px;
}

#nameTable tr:hover {
    background-color: wheat;
    color: #0c483f;
}

#nameTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: wheat;
    color: #0c483f;
}

#nameTable td {
    border-bottom: 2px solid wheat;
}

#delete:hover {
    color: red;
}
#edit {
    position: relative;
    left: 20%;
}
#edit:hover {
    color: blue;
    cursor: pointer;
}

#download:hover {
    cursor: pointer;
    color: white;
}
#download {
    position: relative;
    left: 25%;
}
.container-error {
    position: fixed;
    left: 25%;
    top: 25%;
    align-items: center;
    justify-content: center;

}
.titleLeaderboard {
    color: #196533;
    text-align: center;
    margin-top: 70px;
    font-weight:normal;
    font-size : 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#iconError {
    margin-top:50px;
    // margin-left: 340px;
    transform: scale(2);
    margin-bottom: 40px;

}

#boxError {
    // text-align: center;
    // margin-left:488px;
    // margin-bottom: 300px;
    margin:auto;
    width: 700px;
    background : #196533;
    height:200px;
    color:wheat;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.adminContainer {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
}

.namesContainer {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin-left: 7%;
    margin-bottom: 40px;
}

.tableContainer {
    width: 40%;
    left: -5%;
    position: relative;
}

.tableDict {
    width: auto;
}

.pointerBtn:hover {
    cursor: pointer;
}

.modify {
    position: relative;
    left: 20%;
    // margin-left: 45px;
}
.nomVPForm {
    display: flex;
    flex-direction: column;
}

.separator {
    width: 95%;
    background-color: wheat;
    margin-top: 20px;
    padding-top: 1px;
}

.file-input {
    display: none;
}

.upload-btn {
    background-color: wheat;
    color: #0c483f;
}

.upload-txt {
    position: relative;
    justify-content: center;
    align-items: baseline;
    left: 35%;
}

#upload {
    margin-bottom: 7px;
}
