<body>
    <div class="bg-image"></div>
    <div id="container" class="center" *ngIf='this.infoClientService.dictionaries[0] !== undefined || this.infoClientService.nameVPBeginner[0] !== undefined || this.infoClientService.nameVPExpert[0] !== undefined'>
        <div id="container-content">
            <div class="container-1">
                <div class="box-3">
                    <button class="createButton" mat-button (click)="refreshBestScoreDbs()">Réinitialiser</button>
                </div>
            </div>
            <h6 class="MPButton" routerLink="/main-page">
                <mat-icon>arrow_back</mat-icon>
            </h6>
            <div class="adminContainer">
                <div class="tableDict">
                    <div>
                        <h1 id="roomListTitle">LISTE DES DICTIONAIRES
                            <input type="file" class="file-input"
                            (click)="onClick()" #fileUpload accept="application/json" name="fileUpload"
                            id="fileUpload" multiple="multiple">
                        </h1>
                    </div>
                    <div id='upload'>
                        <span class="upload-txt">
                            <button class="upload-btn" mat-mini-fab color="primary"
                            (click)="fileUpload.click()">
                            <mat-icon>upload</mat-icon>
                            </button> {{fileName || "Pas de fichier téléversé" }}
                        </span>
                </div>
                    <div>
                        <table id="tableRoom">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Modification</th>
                                    <th>Télécharger</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dict of infoClientService.dictionaries">
                                    <td>{{ dict.title }}</td>
                                    <td>{{ dict.description }}</td>
                                    <td  *ngIf="isDefaultDict(dict); else no_edit">
                                        <mat-icon class="modify">edit_off </mat-icon>
                                    </td>
                                    <ng-template #no_edit>
                                        <td>
                                            <mat-icon id='edit' (click)="openModalDict(dict.title)"> edit </mat-icon>
                                        </td>
                                    </ng-template>
                                    <td>
                                        <mat-icon id='download' (click)="getFile(dict.title)">download</mat-icon>
                                    </td>
                                    <td  *ngIf="isDefaultDict(dict); else no_delete">

                                        <mat-icon> delete_forever </mat-icon>
                                    </td>
                                    <ng-template #no_delete>
                                        <td class="pointerBtn" (click)="deleteDictionary(dict)">
                                            <mat-icon id='delete'>delete </mat-icon>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="separator">
            <div class="namesContainer">
                <div class="tableContainer">
                    <div>
                        <h1 id="roomListTitle">Joueurs virtuels débutants</h1>
                    </div>
                    <div>
                        <table id="nameTable">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Modification</th>
                                    <th class="pointerBtn" (click)="openModalVP()">
                                        <mat-icon>add</mat-icon>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of infoClientService.nameVPBeginner">
                                    <td>{{ player.firstName }}</td>
                                    <td>{{ player.lastName }}</td>
                                    <td *ngIf="player.protected === false; else no_edit">
                                        <mat-icon id='edit' (click)="editModalVP(player)"> edit </mat-icon>
                                    </td>
                                    <ng-template #no_edit>
                                        <td>
                                            <mat-icon class="modify" disabled="true"> edit_off </mat-icon>
                                        </td>
                                    </ng-template>
                                    <td class="pointerBtn" *ngIf="player.protected === false; else no_delete"
                                        (click)="deleteVPName(player)">
                                        <mat-icon id='delete'>delete</mat-icon>
                                    </td>
                                    <ng-template #no_delete>
                                        <td>
                                            <mat-icon>delete_forever</mat-icon>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableContainer">
                    <div>
                        <h1 id="roomListTitle">Joueurs virtuels experts</h1>
                    </div>
                    <div>
                        <table id="nameTable">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Modification</th>
                                    <th class="pointerBtn" (click)="openModalVPExpert()">
                                        <mat-icon>add</mat-icon>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of infoClientService.nameVPExpert">
                                    <td>{{ player.firstName }}</td>
                                    <td>{{ player.lastName }}</td>
                                    <td *ngIf="player.protected === false; else no_edit">
                                        <mat-icon id='edit' (click)="editModalVPExpert(player)"> edit </mat-icon>
                                    </td>
                                    <ng-template #no_edit>
                                        <td>
                                            <mat-icon class="modify" disabled="true"> edit_off </mat-icon>
                                        </td>
                                    </ng-template>
                                    <td class="pointerBtn" *ngIf="player.protected === false; else no_delete"
                                        (click)="deleteVPNameExpert(player)">
                                        <mat-icon id='delete'>delete</mat-icon>
                                    </td>
                                    <ng-template #no_delete>
                                        <td>
                                            <mat-icon>delete_forever</mat-icon>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "container-error" *ngIf='this.infoClientService.dictionaries[0] === undefined || this.infoClientService.nameVPBeginner[0] === undefined || this.infoClientService.nameVPExpert[0] === undefined'>
        <h6 class="MPButton" routerLink="/main-page"><mat-icon>arrow_back</mat-icon></h6>
    <h1 class = "titleLeaderboard">Mode Admin</h1>
        <div id = "boxError">
            <mat-icon id = "iconError">warning</mat-icon>
            <br>
            <h1>Serveur/Base de Données non accessible(s)</h1>
        </div>
    </div>
</body>
