<div id="container">
    <div class="modalTitle">
        <h1>Choisissez le niveau du joueur virtuel</h1>
    </div>
    <form class="editForm" #form="ngForm">
        <mat-form-field appearance="fill" class="multiplayerOptionsSolo">
            <mat-label>Niveau du JV :</mat-label>
            <mat-select [(value)]="level">
                <mat-option *ngFor="let level of vpLevels" [value]="level">
                    <h2 class="vpLevelSelection" (click)="vpLevelSelection(level)">{{ level }}</h2>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button id="submitForm" mat-button (click)="closeModal()">Valider</button>
    </form>
</div>
