.container {
    min-height: 100vh;
    height: auto;
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-position: center;
    background-attachment: fixed;
}
.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between; // align-items: center;
}

.MPButton {
    cursor: pointer;
    top: 10px;
    left: 10px;
    position: absolute;
    transform: scale(2);
    margin-top: 2%;
    margin-left: 2%;
    color: #0c483f;
}

.titleLeaderboard {
    color: #0c483f;
    text-align: center;
    margin-top: 70px;
    font-weight: normal;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.scoreClassique {
    color: #0c483f;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    margin-top: 170px;
    height: 400px;
    margin-left: 55px;
}

.scoreLOG2990 {
    color: #0c483f;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 60px;
    height: 400px;
    margin: auto;
    margin-top: 52px;
    margin-right: 62px;
}

#boxBestClassique {
    margin-top: 11px;
    width: 600px;
    background: #0c483f;
    color: wheat;
    height: 480px;
    border-radius: 20px;
    align-items: center;
}

#boxBestLOG2990 {
    margin-top: 11px;
    width: 600px;
    background: #0c483f;
    color: wheat;
    height: 480px;
    border-radius: 20px;
    align-items: center;
}

#boxError {
    margin: auto;
    width: 700px;
    background: #0c483f;
    height: 200px;
    color: wheat;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

#icon {
    margin-top: 40px;
    margin-left: 290px;
    transform: scale(2);
    margin-bottom: 40px;
}

#iconError {
    margin-top: 50px;
    transform: scale(2);
    margin-bottom: 40px;
}
table,
th,
td {
    border: 1px solid wheat;
    font-weight: normal;
    height: 50px;
}

#tableau {
    margin-left: 35px;
    width: 90%;
    font-size: 30px;
}
